@import '~antd/dist/antd.css';

.app{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ant-input-number{
    width: 80%;
}

.sentence, .ant-form{
    width: 80%;
}